.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1440px;
}

body {
  height: 100vh;
  background-color: $lightGrey;
  font-family: "Source Sans Pro", sans-serif;
  color: $darkText;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
}
