/// BACKGROUNDS ///
$lightGrey: #e5e5e5; // used in background
$lightPink: #fffefb; // used in addCardBox background

/// TEXT ///

$darkText: #3f3f3f; // used in text
$darkBlueText: #49485e; // used in addCardBox headers
$greyText: #b4b4b4; // used in addCardBox placeholder
$pink: #ff8484; // used in highlighting elements & error messages

/// BUTTONS ///

$grey: #eeeeee; // used in button background
$green: #7bae73; // used in success button
